:root{
    --header-height: 3.5rem;
          /* font and typhography */
    --body-font: "Poppins", sans-serif;

    /* body color*/
    --body-color: #f9f6fd;
}
body{
    margin: var(--header-height) 0 0 0;
    padding: 1rem 1rem 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
    color: var(--text-color);
    text-decoration: none;
}