body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #00000006;
    overflow: hidden;
    position: relative;
    flex-direction: column; 
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow: hidden;
    filter: blur(2px); 
}

.shape {
    position: absolute;
}

.shape-top {
    position: relative;
    top: 450px;
    left: 0;
    width: 350px; 
}

.shape-bottom {
    bottom: 710px;
    left: 1720px;
    width: 200px; 
}

.shape-left {
    top: 95px;
    left: 0;
    width: 200px; 
    transform: translateY(-50%);
}

.shape-right {
    top: 650px;
    right: 0;
    width: 550px; 
    transform: translateY(-50%);
}

.button {
    background-color: #ffffff00;
    color: #000000;
    width: 10em;
    height: 3em;
    border: #00000000 0.5em solid;
    border-radius: 11px;
    text-align: right;
    transition: all 0.6s ease;
    font-size: 1em;
    margin-left: 85%;
    margin-top: -2.5%;
  }
  
  .button:hover {
    background-color: #3654ff;
  }
  
  .button svg {
    width: 1.6em;
    margin: -0.2em 0.8em 1em;
    position: absolute;
    display: flex;
    transition: all 0.6s ease;
  }
  
  .button:hover svg {
    transform: translateX(5px);
  }
  
  .text {
    margin: 0 1.5em
  }

/* true-false */
.container_truefalse{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
    top: -75px; 
    flex-direction: column; 
}

.game {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 90%;
    height: 450px;
    position: relative;
}

.question h1 {
    font-size: 4rem;
    margin: 0px;
    color: black;
    overflow: auto;
}

.buttons_true_false {
    display: flex;
    justify-content: center;
    margin-top: 20px; 
    gap: 300px;
    width: 100%;
}

.true-button {
    width: 550px; 
    height: 120px;
    padding: 15px;
    font-size: 3rem;
    border: none;
    border-radius: 10px; 
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

}

.false-button {
    width: 550px; 
    height: 120px;
    padding: 15px;
    font-size: 3rem;
    border: none;
    border-radius: 10px; 
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

}

.true-button {
    background-color: #80B1EA;
    color: rgb(0, 0, 0);
}

.false-button {
    background-color: #EA8080;
    color: rgb(0, 0, 0);
}


/* MCQs_buttom and container*/
.container_MCQs{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
    top: -25px; 
    flex-direction: column; 
}

.sound_icon {
    width: 30px; 
    height: 30px; 
    position: absolute;
    top: 93%;
    right: 20px; 
    transform: translateY(-50%);
    cursor: pointer;
}

.buttons_MCQs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 50px;
    width: 100%;
    max-width: 1400px; 
    margin-top: 20px;
}

.red-button  {
    width: 100%; 
    height: 120px;
    padding: 15px;
    font-size: 3rem;
    border: none;
    border-radius: 10px; 
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.yellow-button  {
    width: 100%; 
    height: 120px;
    padding: 15px;
    font-size: 3rem;
    border: none;
    border-radius: 10px; 
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.blue-button {
    width: 100%; 
    height: 120px;
    padding: 15px;
    font-size: 3rem;
    border: none;
    border-radius: 10px; 
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.purple-button {
    width: 100%; 
    height: 120px;
    padding: 15px;
    font-size: 3rem;
    border: none;
    border-radius: 10px; 
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.red-button {
    background-color: #EA8080;
    color: rgb(0, 0, 0);
}

.yellow-button {
    background-color: #EACC80;
    color: rgb(0, 0, 0);
}

.blue-button {
    background-color: #80B1EA;
    color: rgb(0, 0, 0);
}

.purple-button {
    background-color: #BB80EA;
    color: rgb(0, 0, 0);
}

button:hover {
    opacity: 0.9;
}


/* popup */
.popup_game {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 800px;
    border: none;
    border-radius: 0px; 
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: rgba(0,0,0,0.5);
    z-index: 1000;
}
.encouragemenTcontainer{
    width: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    color: #000;
    text-align: center;
    border-radius: 20px;
    padding: 30px 30px 70px;

}
.popup_game img {
    width: 90%;
    margin-bottom: 15px;
}
.popup_game button {
    background-color: #ed6755;
    border: none;
    border-radius: 5px;
    width: 200px;
    padding: 14px;
    font-size: 16px;
    color: white;
    box-shadow: 0px 6px 18px -5px rgba(237, 103, 85, 1);
}
.popup_game p{
    font-size: 40px;
}

/* result */
.results-container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 10px;
    text-align: center;
}

.results-container h1 {
    font-size: 2em;
    margin-bottom: 20px;
}

.results-container p {
    font-size: 1.5em;
    margin-bottom: 20px;
}

.results-container ul {
    list-style-type: none;
    padding: 0;
}

.results-container li {
    background-color: #fff;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: left;
}
.results-container button{
    background-color: #ed6755;
    border: none;
    border-radius: 5px;
    width: 200px;
    padding: 14px;
    font-size: 16px;
    color: white;
    box-shadow: 0px 6px 18px -5px rgba(237, 103, 85, 1);
}

  @media screen and (max-width: 640px) and (max-height: 1024px) {
    .shape-top {
        width: 200px;
        top: 760px;
    }

    .shape-bottom {
        width: 150px;
        bottom: 875px;
        left: 490px;
    }

    .shape-left {
        width: 150px;
        top: 70px;
    }

    .shape-right {
        width: 300px;
        top: 885px;
    }

    .container_truefalse, .container_MCQs {
        top: 0px;
    }

    .game {
        width: 80%;
        height: auto;
        padding: 15px;
    }

    .question h1 {
        font-size: 1.5rem;
        margin: 60px;
    }

    .buttons_true_false {
        gap: 20px;
        width: 100%;
    }

    .true-button, .false-button, .red-button, .yellow-button, .blue-button, .purple-button {
        width: 100%;
        height: 80px;
        font-size: 1.5rem;
        padding: 10px;
    }

    .buttons_MCQs {
        grid-template-columns: 1fr;
        grid-gap: 20px;
    }

    .sound_icon {
        width: 25px;
        height: 25px;
        top: 90%;
    }

    .popup_game {
        padding: 520px;
    }

    .encouragemenTcontainer {
        width: 260px;
        padding: 20px 20px 50px;
    }

    .popup_game img {
        width: 80%;
    }

    .popup_game p {
        font-size: 2rem;
    }

    .results-container {
        max-width: 90%;
        margin: 20px auto;
        padding: 15px;
    }

    .results-container h1 {
        font-size: 1.5rem;
    }

    .results-container p {
        font-size: 1.2rem;
    }

    .button {
        width: 8em; 
        height: 2.5em; 
        font-size: 0.9em; 
        margin-left: 5%; 
        margin-top: 5%;
    }

    .button svg {
        width: 1.4em; 
        margin: -0.1em 0.5em 1em; 
    }
    
    .text {
        margin: 0 1em; 
    }

}