@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&display=swap");
:root {
	--primary-color: #b2ddf3;
	--primary-color-dark:#0040B0;
	/* --primary-color-light:#5f0c923b; */
	--primary-color-light:#EDF9FF;
	--secondary-color: #fafcff;
	--text-dark: #0d213f;
	--text-color :#232d39;
	--text-light: #767268;
	--extra-light: #ffffff;
	--light:#efefef;
}

.page-container{
	width: 100%;
	max-width: 1400px;
	min-height: 100vh;
	margin: 0px auto;
}
section.home{
	position: relative;
	width: 100%;
	min-height: 100vh;
	background-color:var(--primary-color-light);
}
button.btn{
	padding: 10px 18px;
	background-color: var(--primary-color-dark);
	color: var(--light);
	font-size: 15px;
	border: 1px solid transparent;
	border-radius: 5px;
	cursor: pointer;
	transition: all 0.3s;
}
button.btn:hover{
	background-color: var(--light);
	color: var(--primary-color-dark);
	border: 1px solid var(--primary-color-dark);
}
.home .main-navbar{
	position: absolute;
	width: 100%;
	max-width: 1400px;
	height: 12vh;
	max-height: 80px;
	background-color: var(--primary-color-dark);
	padding: 0px 8%;
	margin: 0px auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 100;
}
.home.active .main-navbar{
	position: fixed;
	top: 0;
	margin: 0px auto;
	box-shadow: 0px 2px 10px rgba(0,0,0,0.25);
	animation: 0.6s ease-in;
}

.main-navbar .logo{
	text-decoration: none;
}
.main-navbar .logo img{
	width: 120px;
	height: auto;
}
.main-navbar .get-started-btn{
	background-color: var(--primary-color-dark);
	color: var(--light);
}
.main-navbar .get-started-btn:hover{
	background-color:var(--primary-color-dark);
	color:  var(--light);
	border: 1px solid  var(--light);
}

.home .banner{
	width: 100%;
	min-height: 100vh;
	padding: 100px 8% 70px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.home .banner .banner_description{
	position: relative;
	flex-basis: 50%;
	max-width: 700px;
	z-index: 2;
}
.banner .banner_description h2{
	font-size: 80px;
	color:var(--text-color);
	letter-spacing: 1px;
	line-height: 1.4;
	margin-bottom: 10px;
}
.banner .banner_description p{
	font-size: 20px;
	color: var(--text-color);
	line-height: 1.4;
	margin-bottom: 50px;
	text-align: justify;
}

.home .banner .banner_img{
	position: relative;
	flex-basis: 50%;
	display: flex;
	justify-content: flex-end;
	z-index: 1;
}
.banner_img .bannerImg_container{
	position: relative;
	width: 500px;
	z-index: 2;
}
.banner_img .bannerImg_container img{
	width: 100%;
	height: auto;
}
.banner_img .bannerImg_container .states{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}
section.services{
	width: 100%;
	padding: 100px 8% 20px;
}
.service-section_head h1{
	position: relative;
	font-size: 32px;
	letter-spacing: 1px;
	color: var(--text-color);
	margin-bottom: 20px;
}
.service-section_head h1::before{
	position: absolute;
	content: '';
	width: 100px;
	height: 1px;
	left: 0;
	top: calc(100% + 5px);
	background-color: #6c757d;
}
.service-section_head h1::after{
	position: absolute;
	content: '';
	width: 50px;
	height: 3px;
	left: 0;
	top: calc(100% + 4px);
	background-color: var(--primary-color-dark)
}
.service-section_head p{
	color: #6c757d;
	margin-bottom: 40px;
	max-width: 700px;
	line-height: 30px;
}
.services .service-contents{
	width: 100%;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.service-contents .service-box{
	flex-basis: calc(calc(100% / 3) - 2%);
	padding: 25px 20px;
	cursor: pointer;
	transition: all 0.3s;
}
.service-contents .service-box:hover{
	box-shadow: 0px 0px 15px rgba(0,0,0,0.1);
}
.service-box .service-icon{
	width: 50px;
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	background-color: var(--primary-color-dark);
	outline: 1px solid #d8e9df;
	outline-offset: 10px;
}
.service-box .service-icon i{
	font-size: 24px;
	color: #efefef;
}
.service-box .service-desc{
	margin-top: 25px;
}
.service-box .service-desc h2{
	margin-bottom: 10px;
	color:  var(--text-color);
	font-size: 22px;
}
.service-box .service-desc p{
	line-height: 1.4;
	color: #6c757d;
	text-align: justify;
}
.service-box:nth-child(3) .service-icon{
	background-color: #e7c5c2;
	outline-color: #e7c5c2;
}
.service-box:nth-child(3) .service-icon i{
	color: #f76250;
}
.service-box:nth-child(2) .service-icon{
	background-color: #a3dcbb;
	outline-color: #a3dcbb;
}
.service-box:nth-child(2) .service-icon i{
	color: #2f9355;
}
.service-box:nth-child(1) .service-icon{
	background-color: #ccc9fa;
	outline-color: #ccc9fa;
}
.service-box:nth-child(1) .service-icon i{
	color: #5a49f3; 
}
.learningMaterial-img_container {
	max-width:  1200px;
	margin: auto;
	padding: 5rem 1rem;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 2rem;
}
.learningMaterial_img{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 1rem;
}
.lm-img_column{
	display: grid;
	place-content: center;
	gap: 1rem;
}
.lm-img_column img{
	border-radius: 1rem;
	box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
	width: 100%;
	display: block;
}
.content{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
.content > div {
	max-width: 400px;	
}

.content .section__subtitle {
	margin-bottom: 2rem;
	font-size: 1rem;
	color:  #0d213f;
	max-width: calc(1200px / 2);
}
.content__title {
	font-size: 2rem;
	font-weight: 600;
	color:  #0d213f;
	margin-bottom: 1rem;
}
footer{
	background-color: var(--primary-color-dark);
	font-family: 'Poppins';
}
.footer_container{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 5rem;
	color: #fafcff;
	max-width: 1200px;
	margin: auto;
	padding: 5rem 1rem;
}
.footer_column h3{
	font-size: 1.5rem;
	font-weight: 600;
	margin-bottom: 2rem;
}
.footer_column p{
	font-size: 0.8rem;
	margin-bottom: 1rem;
	cursor: pointer;
	transition: 0.3s;
}
.footer_column h3 span{
	color: var(--primary-color);
}
.footer_column p:hover{
	color: var(--primary-color);
}
.footer_column p span{
	font-weight: 600;
}
.footer_column h4{
	font-size: 1rem;
	font-weight: 600;
	margin-bottom: 2rem;
}
.footer__bar {
	max-width: 1200px;
	margin: auto;
	padding: 0.5rem;
	text-align: center;
	font-size: 0.8rem;
	color:var(--light);
	border-top: 1px solid var(--text-light)
  }





@media(max-width: 1200px){
	.home .banner{
		flex-direction: column-reverse;
		justify-content: flex-start;
		align-items: flex-start;
	}
	.home .banner .banner_description,
	.home .banner .banner_img{
		flex-basis: 100%;
	}
	.home .banner .banner_img{
		align-self: center;
		margin-bottom: 50px;
	}
	/* Services Section */
	.service-contents .service-box{
		flex-basis: calc(calc(100% / 2) - 2%);
	}
	.service-contents .service-box:not(:last-child){
		margin-bottom: 20px;
	}
}