.page-container{
	width: 100%;
	max-width: 1400px;
	min-height: 100vh;
	margin: 0px auto;
}
section.home{
	position: relative;
	width: 100%;
	min-height: 100vh;
	background-color:#5f0c923b;
}
button.btn{
	padding: 10px 18px;
	background-color: #8034AF;
	color: #efefef;
	font-size: 15px;
	border: 1px solid transparent;
	border-radius: 5px;
	cursor: pointer;
	transition: all 0.3s;
}
button.btn:hover{
	background-color: #efefef;
	color:#8034AF;
	border: 1px solid #8034AF;
}
.home .main-navbar{
	position: absolute;
	width: 100%;
	max-width: 1400px;
	height: 12vh;
	max-height: 80px;
	background-color: #8034AF;
	padding: 0px 8%;
	margin: 0px auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 100;
}
.home.active .main-navbar{
	position: fixed;
	top: 0;
	margin: 0px auto;
	box-shadow: 0px 2px 10px rgba(0,0,0,0.25);
	animation: 0.6s ease-in;
}

.main-navbar .logo{
	text-decoration: none;
}
.main-navbar .logo img{
	width: 120px;
	height: auto;
}
.main-navbar .get-started-btn{
	background-color: #efefef;
	color: #8034AF;
}
.main-navbar .get-started-btn:hover{
	background-color: #8034AF;
	color: #efefef;
	border: 1px solid #efefef;
}

.home .banner{
	width: 100%;
	min-height: 100vh;
	padding: 100px 8% 70px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.home .banner .banner_description{
	position: relative;
	flex-basis: 50%;
	max-width: 700px;
	z-index: 2;
}
.banner .banner_description h2{
	font-size: 80px;
	color:#232d39;
	letter-spacing: 1px;
	line-height: 1.4;
	margin-bottom: 10px;
}
.banner .banner_description p{
	font-size: 20px;
	color: #232d39;
	line-height: 1.4;
	margin-bottom: 50px;
	text-align: justify;
}

.home .banner .banner_img{
	position: relative;
	flex-basis: 50%;
	display: flex;
	justify-content: flex-end;
	z-index: 1;
}
.banner_img .bannerImg_container{
	position: relative;
	width: 500px;
	z-index: 2;
}
.banner_img .bannerImg_container img{
	width: 100%;
	height: auto;
}
.banner_img .bannerImg_container .states{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}
section.services{
	width: 100%;
	padding: 100px 8% 20px;
}
.service-section_head h1{
	position: relative;
	font-size: 32px;
	letter-spacing: 1px;
	color: #232d39;
	margin-bottom: 20px;
}
.service-section_head h1::before{
	position: absolute;
	content: '';
	width: 100px;
	height: 1px;
	left: 0;
	top: calc(100% + 5px);
	background-color: #6c757d;
}
.service-section_head h1::after{
	position: absolute;
	content: '';
	width: 50px;
	height: 3px;
	left: 0;
	top: calc(100% + 4px);
	background-color:  #8034AF;
}
.service-section_head p{
	color: #6c757d;
	margin-bottom: 40px;
	max-width: 700px;
	line-height: 30px;
}
.services .service-contents{
	width: 100%;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.service-contents .service-box{
	flex-basis: calc(calc(100% / 3) - 2%);
	padding: 25px 20px;
	cursor: pointer;
	transition: all 0.3s;
}
.service-contents .service-box:hover{
	box-shadow: 0px 0px 15px rgba(0,0,0,0.1);
}
.service-box .service-icon{
	width: 50px;
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	background-color: #8034AF;
	outline: 1px solid #d8e9df;
	outline-offset: 10px;
}
.service-box .service-icon i{
	font-size: 24px;
	color: #efefef;
}
.service-box .service-desc{
	margin-top: 25px;
}
.service-box .service-desc h2{
	margin-bottom: 10px;
	color:  #232d39;
	font-size: 22px;
}
.service-box .service-desc p{
	line-height: 1.4;
	color: #6c757d;
	text-align: justify;
}
.service-box:nth-child(3) .service-icon{
	background-color: #fef0ef;
	outline-color: #fef0ef;
}
.service-box:nth-child(3) .service-icon i{
	color: #f76250;
}
.service-box:nth-child(2) .service-icon{
	background-color: #e8f9ef;
	outline-color: #e8f9ef;
}
.service-box:nth-child(2) .service-icon i{
	color: #2f9355;
}
.service-box:nth-child(1) .service-icon{
	background-color: #f1f0fe;
	outline-color: #f1f0fe;
}
.service-box:nth-child(1) .service-icon i{
	color: #5a49f3; 
}



@media(max-width: 968px){
	.home .banner{
		flex-direction: column-reverse;
		justify-content: flex-start;
		align-items: flex-start;
	}
	.home .banner .banner_description,
	.home .banner .banner_img{
		flex-basis: 100%;
	}
	.home .banner .banner_img{
		align-self: center;
		margin-bottom: 50px;
	}
	/* Services Section */
	.service-contents .service-box{
		flex-basis: calc(calc(100% / 2) - 2%);
	}
	.service-contents .service-box:not(:last-child){
		margin-bottom: 20px;
	}
}